

.carousel {
    height: 40vh;

    .item-about,
    .item-track,
    .item-contact {
        height: 40vh;
    }

    .item {
        &-about {
            background-image: url(./img/1.jpg);
            background-position: bottom;
            padding: 10px;
        }

        &-track {
            background-image: url(./img/2.jpg);
            background-position: 0 -220px;
        }

        &-contact {
            background-image: url(./img/3.jpg);
            background-position: 0 -420px;
            background-size: 1550px 800px;
        }
    }
}

.reservation {
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    background-image: url('./img/reservation.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    font-family: 'Courier New', Courier, monospace;

    &-text {
        text-align: center;
    }

    @include media-breakpoint-up(tab) {
        align-items: flex-start;
        &-text {
            margin-left: 10%;
        }
    }

    @include media-breakpoint-up(dst) {
    }
}

.about {
    color: #FFF;
    background-color: #3f3f47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    height: 100%;
    

    &-heading {
        margin-top: 100px;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
    }

    &-text {
        margin: 40px ;
        font-size: 18px;
        text-align: justify;

    }

    .photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 2rem 0;

        @include media-breakpoint-up(tab) {
            width: 40%;
            margin: 2rem;

            &:first-of-type {
                margin-left: 8px;
            }
        }
    }

    
    .photo:hover {
        transform: scale(1.2);
        transition-duration: 2s;
    }

    @include media-breakpoint-up(tab) {
        flex-direction: row;
    }
}

.track {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;

    &-heading {
        margin: 50px;
        font-size: 50px ;
        
    }

    .track-photo {
        width: 100%;
    }
}

.contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-heading {
        text-transform: uppercase;
        font-size: 50px;
        margin: 50px;
    }

    .dupa {
        justify-content: flex-start;
        margin: 0 8rem;
    }

    &-content {
        width: 100%;
        height: 100%;
        margin: 4rem 0;
        display: flex;
        flex-direction: column;

    }

    @include media-breakpoint-up(tab) {
        &-content {
            flex-direction: row;
        }
    }
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include media-breakpoint-up(tab) {
        width: 50%;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    @include media-breakpoint-up(tab) {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.carousel-heading {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}