.about {
    background-color: #00afaf;
    height: 700px;
    display:flex;

   
}

.about-content {
    display: flex;

}

.about-pic {
    width: 100px;
    height: 100px;
}

.about-text {
    display: flex;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
 
}